// green-buttons
.button-container{

    a{
        text-decoration: none;
        color: #fff;
        background-color: $primary-color;
        text-align: center;
        line-height: 1.3;
        cursor: pointer;    
        padding: 18px 55px;
        border-radius: 5px;

        div{
            display: inline-block;
        }
        .button-text{
            text-transform: capitalize;
            font-family: roboto;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0em;
            white-space: nowrap;
        }
        .button-icon{
            margin-left: 10px;
        }
    }
}

// header-navbar
.navbar-container{

    ul{
        list-style: none;

        li{
            display: inline-block;

            a{
                @include nav-links-text;

                .navbar-icon{
                    margin-left: 5px;
                    font-size: 12px;
                }
            }
        }
    }
}

// social nabar
.social-container{

    ul{
        list-style: none;

        li{
            display: inline-block;

            a{
                padding: 0 10px;

                i{
                    @include social-incon;
                }
            }
        }
    }
}

// numbers
.highlighted-num{
    font-size: 40px;
    font-weight: 600;
    color: $primary-color;
    font-family: roboto;
}