// green-buttons
.button-container{

    a{
        text-decoration: none;
        color: #fff;
        background-color: $primary-color;
        text-align: center;
        line-height: 1.3;
        cursor: pointer;    
        padding: 18px 55px;
        border-radius: 5px;
        transition: .4s;

        div{
            display: inline-block;
        }
        .button-text{
            text-transform: capitalize;
            font-family: roboto;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0em;
            white-space: nowrap;
        }
        .button-icon{
            margin-left: 10px;
        }
        &:hover{
           background-color: $hover-button;
        }
    }
}

// header-navbar
.navbar-container{

    &>ul{
        list-style: none;

        li{
            display: inline-block;

            a{
                @include nav-links-text;
                transition: .8s;

                .navbar-icon{
                    margin-left: 5px;
                    font-size: 12px;
                }
                span:first-child{
                    position: relative;
                }
                span:first-child:after{
                    content: ""; /* This is necessary for the pseudo element to work. */ 
                    display: block; /* This will put the pseudo element on its own line. */
                    position: absolute;
                    width: 0; /* Change this to whatever width you want to have before hover. */
                    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
                    transition: .5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
                    bottom: -5px;
                    left: 0;
                    border-color: $primary-color;
                }
            }
            &:hover{

                a{
                    color: $primary-color;
                
                    span:first-child:after{

                        width: 115%;
                    }
                }
            }
            &:hover{

                .dropdown{
                    animation-name: dropdown-animation;
                    animation-duration: .4s;
                    animation-timing-function: ease-out;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

// dropdown-container
@mixin dropdown-container{
    background-color: white;
    position: absolute;
    top: 97%;
    box-shadow: 0 0 32px rgba(0,0,0,.16);
    border-bottom: 3px solid $primary-color;
    visibility:hidden;
    opacity: 0;
    padding: 30px;
    justify-content: space-between;

    ul{
        li{
            display: block;
            margin: 10px 0;
            
            a{
                @include dropdown-links;
                padding: 0 15px;
                transition: 0s;

                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
}

// navbar homme link dropdown
.home.dropdown{
    @include dropdown-container;
    width: 1180px;
    left: 18.5%;
}
.links.dropdown{
    @include dropdown-container;
    padding-right: 100px;
}

// navbar other-links drobdown

// social navbar
.social-container{

    ul{
        list-style: none;
        display: flex;
        justify-content: flex-start;

        li{
            position: relative;

            a{
                padding-right: 30px;

                i{
                    @include social-incon;
                }
            }
            .cloud-msg{

                top: unset;
                bottom: -45px;
                right: 50%;
                transform: translate(0, 0);
                background-color: $base-color;
                border-color: $base-color;

                &:after{
                    background-color:$base-color;
                    transform: translate(-50%, -50%) rotate(45deg);
                    right: 2px;
                    top: -2px; 
                }
            }
            &:hover{
                i{
                    color: $primary-color;
                }

                .cloud-msg{
                    animation-name: pop-out-under;
                    animation-duration: .5s;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

// cloud message pop
.cloud-msg{
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: scale(1);
    white-space: nowrap;
    top: 50%;
    right: 35px;
    transform: translate(-25px, -50%);
    padding: 3px 12px;
    border: 3px solid;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

    &:after{
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        position: absolute;
        background-color:$primary-color;
        transform: translate(-50%, -50%) rotate(45deg);
        right: -13px;
        top: 50%; 
    }

    div{
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        font-family: roboto;
        position: relative;
    }
}

// numbers
.highlighted-num{
    font-size: 40px;
    font-weight: 600;
    color: $primary-color;
    font-family: roboto;
}

// quote
.quote-container{
    padding: 55px;

    .flex-col{

        align-items: center;
        justify-content: space-between;

        .text-quote-container{
            margin-bottom: 54px;;
        }
        .quote-logo{
            text-align: left;
            width: 100%;
            margin-bottom: 15px;
        }
        .quote-author{

            width: 100%;
            text-align: left;
            font-size: 21px;
            font-weight: 500;
            color: #3F3A64;
            font-family: roboto;
        }
        .quote-wingman{
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.5em;
            letter-spacing: 1.38px;
            color: #8C89A2;
            font-family: roboto;
            width: 100%;
            text-align: left;
            align-self: flex-end;
        }
    }
}

// card
.card-container{
    margin: 15px;
    
    figure{
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;


        img{
            width: 100%;
            height: 100%;
            transition: ease-out 1.5s;
        }
    }
    .card-text{
        padding: 30px 30px 38px;

        .cost{
            line-height: 0;
            margin-bottom: 25px;

            span:first-child{

                font-size: 24px;
            }
            span:last-child{
                font-size: 18px;
                font-weight: 400;
            }
        }
        .card-title{
            @include card-title;
            margin-bottom: 30px;
        }

        .card-details{

            > span{
                font-size: 14px;
                margin-right: 30px;
            }
        }
    }
    &:hover{
    
        img{
            transform: scale(1.1);
        }
    }
}

// book hover links
.book-utility{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    display: none;

    .container{
        position: relative;

        .book-link{    
            transition: .5s;
            width: 40px;
            height: 40px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
            border-radius: 50%;
            background-color: #fff;
            margin: 10px 0;
            line-height: 40px;
            text-align: center;

            i{
                font-size: 14px;
                color: $base-color;
            }
            &:hover{
                background-color: $primary-color;
                
                i{
                    color: #fff;
                }
            }
        }
        .cloud-msg{

            background-color: $primary-color;
            border-color: $primary-color;
        }
        &:hover{
            .cloud-msg{
                animation-name: pop-out-left;
                animation-duration: .5s;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

// slider button
.slider-button{
    position: absolute;
    top:50%;
    transform: translate(-50%, -50%);
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);

    .slider-button-container{
        position: relative;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);

        .arrow{
            cursor: pointer;
            font-size: 18px;
            color: rgb(185, 185, 185);
        }
        .slider-num{    
            font-size: 17px;
            font-weight: 500;
            color: #111;
            letter-spacing: 1.31px;
            font-family: roboto;
            line-height: 20px;
        }
    }
}

// hidden box for border magic
.hidden-box{
    transition: .6s;
    position: absolute;
    display: block;
    width: 3px;
    height: 3px;
    background-color: #fff;
    bottom: -7px;
    left: -3px;
}

//fancy link
.fancy-link{

    .fancy-link-text{
        position: relative;

        a{
            font-size: 13px;
            text-decoration: none;
            font-weight: 500;
            padding-bottom: 5px;
            text-transform: uppercase;
            line-height: 1em;
            letter-spacing: 1px;
            color: $primary-color;
            border-bottom: 1px solid $primary-color;
            font-family: roboto;
            transition: .6s;
        }
        &:hover{

            .hidden-box{
                animation-name: magic-border;
                animation-duration: .6s;
                animation-timing-function: ease-out;
                right: 0;
                left: unset;
            }
        }
        &:hover{
            
            a{
                animation-name: green-to-blue;
                animation-duration: .6s;
                color: $nav-links;
                border-color: $nav-links;
            }
        }
    }
}

// purchease button
.purchease-button{
    position: fixed;
    bottom: 100px;
    right: 30px;
    transition: .5s;

    .container{
        width: 232px;
        height: 58px;
        box-shadow: 0 1px 42px rgba(0,0,0,.12);
        position: relative;


        img{
            width: 100%;
            border-radius: 14px;   
        }
        .arrow-container{
            position: absolute;
            top: -18px;
            right: 18px;
            width: 32px;
            height: 32px;
            border-radius: 13px;
            background-color: #fff;
            line-height: 32px;
            text-align: center;
            box-shadow: 0 0 32px rgba(0,0,0,.16);
        }
    }
    &:hover{
        bottom: 103px;
    }
}

