*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex-row{
    display: flex;
    width: 100%;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.useless-padding{
    padding: 0 15px;
}
.col2-half{
    width: 50%;
}
.col2-big{
    width: 60%;
}
.col2-small{
    width: 40%;
}
.col4{
    width: 25%;
}
.set-title-w{
    width: 430px;
}
.center-row{
    text-align: center;
}
.col3{
    width: calc(100% / 3);
}
.col4{
    width: calc(100% / 4);
}

// HEADER
// jumbotron
header{

    nav{
        position: fixed;
        display: flex;
        width: 1200px;
        padding: 0 15px;
        height: 80px;
        justify-content: space-between;
        align-items: center;

        .logo-container{

            width: 158px;

            img{
                width: 100%;
            }
        }
    }

    #jumbotron{
        padding-top: 137px;
        width: 100%;
        overflow: hidden;
        
        .jumbo-text{
            padding: 70px 15px;

            .title-container{
                width: 440px;
            }
            .button-container{

                margin-top: 49px;
            }
        }

        .jumbo-img{
            padding: 15px;
            padding-bottom: 0;
            margin-bottom: -10px;
        }
    }
}


// MAIN
// dati/prima sezione del main
#data-container{

    padding: 132px 0 82px 0;

    .number-container{

        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-left: 1px dashed $primary-color;
    }
    .col4:last-child .number-container{
        border-right: 1px dashed $primary-color;
    }
}


// about me
#about-container{
    padding: 10px 0 100px 0;

    .section-small-title{
        padding: 0 15px;
        margin-bottom: 18px;
    }
}

// video+cit
#video-section{

    .video-container{

        .link-video-container{
            height: 450px;
            width: 670px;
            position: relative;
            box-shadow: 0px 130px 50px -100px rgba(51, 51, 51, 0.22);

            img:last-child{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

// begin your journey
#journey-container{
    padding: 155px 0 100px 0;

    .section-small-title{
        margin-bottom: 13px;
    }

    .section-main-title{
        margin-bottom: 65px;
    }

    .courses-container{

        .flex-row{
            margin-bottom: 30px;

            .cards-container{

                .flex-row{
                    justify-content: space-between;
                }
            }
        }
    }
    .center-row.button-container{
        padding-top: 30px;
    }
}


// book store
#book-store-container{

    .left-container{
        height: 100%;
        position: relative;

        .section-small-title{

            h3{
                margin-bottom: 8px;
            }
        }
        .list-container{

            ul{
                margin-top: 30px;
            
                li{
                    margin-top: 11px;

                    a{
                        
                        span:first-child{
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .button-container{
            position: absolute;
            bottom: 25px;
        }
    }

    .right-container{

        .card-container{
            padding-bottom: 0;
            padding-top: 0;

            .card-text{
                padding-bottom: 0;
                padding-top: 20px;
            }
        }
    }
}

// sponsors
#sponsors-container{
    margin: 150px 0;

    ul.flex-row{
        justify-content: space-around;
    }
}

// stories
#stories-container{
    
    .col2-half:first-child{
    
        .story-container.flex-col{

            padding: 90px 0;
            width: 530px;
            margin: auto;
            align-items: center;
            font-family: roboto;
            justify-content: space-between;

            .section-small-title{
                margin-bottom: 50px;
            }
            p{
                margin-bottom: 32px;
            }
            .story-author{
                align-items: center;
                padding-top: 21px;

                .img-container{
                    width: 85px;
                    height: 85px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-bottom: 21px;
                    
                    img{
                        width: 100%;
                    }
                }
                .job{
                    margin-top: 11px;
                }
            }
        }
    }

    .col2-half:last-child{
        position: relative;

        img{
            height: 100%;
            width: 100%;
        }
    }
}


// blog
#blog-container{
    padding: 145px 0 144px 0;

    .section-main-title{
        margin-bottom: 58px;
    }

    .cards-container{

        .card-container{
            
            figure{

                border-radius: 5px;
                overflow: hidden;
            }
            .card-text{

                padding: 0;

                .card-title{
                    margin-bottom: 25px;
                    color: $base-color;
                }

                .card-details{

                    margin: 25px 0 10px 0;
                }
            }
        }
    }

    .fancy-link{
        margin-top: 20px;
    }
}