// IMPORT
@import 'partials/base';
@import 'partials/components';
@import 'partials/layout';


// HEADER
// jumbotron
header{

    background-color: #F6F6FD; 
    background-image: url(../img/background-pattern-wavify.png);

    nav{

        .navbar-container{

            a{
                color: #3F3A64;
            }
        }
    }

    #jumbotron{

        .jumbo-text{

            .title-container{

                h3{
                @include section-small-title;
                color: $base-color
                }
                h1{
                    @include main-title; 
                    color: $base-color
                }
                p{
                    @include jumbo-p;
                }
            }
            .button-container{

                a{

                    &:hover{

                        background-color: $hover-button;
                    }
                }
            }
        }

        .jumbo-img{

            background-image: url(../img/home-movation-shape-face.png);

            img{
                max-width: 100%;
            }
        }
    }
}

// MAIN
// dati/prima sezione del main
.data-container{

    div:last-child{

    @include section-small-title;
        color: $base-color;
    }
}

// about me
#about-container{

    .section-small-title{
        
        h3{
        @include section-small-title;
        color: $primary-color;
        }
    }

    .col2-half:first-child{

        .section-main-title{

            h2{
                @include section-main-title;
                color: $base-color;
            }
        }
    }

    .col2-half:last-child{
        font-family: roboto;

        h4{
            font-size: 18px;
            font-weight: 400;
            line-height: 1.78em;
            color: $base-color;
            margin-bottom: 15px;

            span{
                color: $primary-color;
            }
        }

        p{
            @include main-p;
            color: $light-p;
        }
    }
}

// video+cit
#video-section{

    .video-container{

        img{
            border-radius: 5px;
        }
    }

    .quote-container{

        .text-quote-container{
            @include quote;
            color: $base-color;
        }
    }
}

// begin your journey
#journey-container{

    .section-small-title{

        h3{
            @include section-small-title;
        }
    }
    .section-main-title{
        
        h2{
            span{
                @include main-title;
                font-size: 48px;
            }
            span:first-child{

                color: $base-color;
            }
            span:last-child{
                color: $primary-color;
            }
        }
    }
}

// book store
#book-store-container{

    .section-small-title{

        h3{
            @include section-small-title;
            color: $base-color;
        }
    }
    .section-main-title{

        h2{
            @include section-main-title;

            span:first-child{
                color: $cards-title;
            }
            span:last-child{
                color: $primary-color;
            }
        }
    }

    .list-container{

        ul{
            list-style: none;

            li{

                a{
                    text-decoration: none;
                    
                    span:first-child{
                        font-size: 15px;
                        min-width: 24px;
                        color: $primary-color;
                    }
                    span:last-child{
                        font-size: 14px;
                        font-weight: 400;
                        color: $light-p;
                        font-family: roboto;
                        white-space: 0;
                    }
                }
            }
        }
    }
}
